<form on-submit-and-disable on-submit="validateAndSubmit()">
    <fieldset>
        <label for="converterName" class="required">Converter Name</label>
        <input type="text" required="required" name="converterName" id="converterName" ng-model="converter.name" />
        <label for="path" class="required">Converter's Full Path </label>
        <input type="text" required="required" name="path" id="path" ng-model="converter.path" />
        <p class="explain">Point this to the actual converter .exe</p>
        <input type="submit" class="button" value="Create primary converter" />
    </fieldset>
</form>
