<form on-submit-and-disable on-submit="validateAndSubmit()" class="conversion-form">
    <h4>{{conversion.name}}</h4>
    <fieldset class="halves">
        <label for="backgroundField{{conversion.id}}">
      Background Field Color
    </label>
        <input type="text" ng-model="conversion.config.backgroundField" id="backgroundField{{conversion.id}}" />
        <label for="activeField{{conversion.id}}">
      Active Field Colour
    </label>
        <input type="text" ng-model="conversion.config.activeField" id="activeField{{conversion.id}}" />
    <label>Conveter</label>
    <select ng-model="conversion.config.converter">
      <option ng-repeat="converter in converters" value="converter.path" ng-selected="converter.primary">{{converter.name}}</option>
    </select>
    </fieldset>
    <fieldset class="halves">
        <div class="checkbox-container inline-block">
            <div>
                <input type="radio" name="animatedPages{{conversion.id}}" ng-model="conversion.config.animatedPages" id="allAnimated{{conversion.id}}" value="allAnimated">
                <label for="allAnimated{{conversion.id}}">Completely animated</label>
            </div>
            <div>
                <input type="radio" name="animatedPages{{conversion.id}}" ng-model="conversion.config.animatedPages" id="staticForm{{conversion.id}}" value="staticForm">
                <label for="staticForm{{conversion.id}}">Completely static</label>
            </div>
            <div>
                <input type="radio" name="animatedPages{{conversion.id}}" ng-model="conversion.config.animatedPages" id="customAnimated{{conversion.id}}" value="customAnimatedPages">
                <label for="customAnimated{{conversion.id}}">Custom animated pages</label>
            </div>
        </div>
        <input ng-if="conversion.config.animatedPages === 'customAnimatedPages'" type="text" ng-model="conversion.config.customAniPages" id="customAniPages{{conversion.id}}" placeholder="Custom animated pages" />
        <div class="checkbox-container" ng-if="conversion.config.animatedPages !== 'staticForm'">
            <input type="checkbox" name="externalCSS{{conversion.id}}" ng-model="conversion.config.externalCSS" id="externalCSS{{conversion.id}}">
            <label for="externalCSS{{conversion.id}}">External CSS</label>
        </div>
        <input ng-if="conversion.config.animatedPages !== 'staticForm' && conversion.config.externalCSS" type="text" ng-model="conversion.config.cssPath" id="cssPath{{conversion.id}}" />
    </fieldset>
    <div>
        <div class="button-group">
            <input type="submit" value="Convert this form!" class="button primary" />
            <input type="button" value="Delete" class="button danger" />
        </div>
    </div>
</form>
