extends ../layouts/base
block content
  body.slight-gradient
    .loading-view
      .circle.circle-1.no-transition
      .circle.circle-2.no-transition
      .text-container.white
        span Setup loading
    main(ng-app="setup", ng-controller="SetupController as setup").container.app-base
      h1.center.white Setup

      section.setup-form(ng-class="setup.getClassName('user')").modal
        h2 Create default admin user
        users-form(validation-error="setup.Notification.error(err)", submit-user="setup.newUser(user)")

      section.setup-form(ng-class="setup.getClassName('converter')").modal
        h2 Create default converter
        converters-form

      section.setup-form(ng-class="setup.getClassName('config')").modal
        h2 Set config
        config-form

    script(src="/bundles/setup.js", type="text/javascript")
