extends ../layouts/base
block content
  body.grey
    .loading-view
      .circle.circle-1.no-transition
      .circle.circle-2.no-transition
      .text-container.white
        span Setup loading
    main(ng-app="setup", ng-controller="SetupController as setup").container.app-base
      h1.center Setup

      section.setup-form(ng-class="setup.getClassName('databaseError')").modal
        h2.serif Come on mate
        p At least try to create the bloody database:
        p Boot postgres.
        p Create a database.
        p Edit /config/config.json with the database details of the db you just created.
        p Restart the AutoConverter server.
        p Profit.
        p.transparent If all of that sounds too hard, my number is 0800-I-Don't-Care



      section.setup-form(ng-class="setup.getClassName('user')").modal
        h2 Create default admin user
        users-form(validation-error="setup.Notification.error(err)", submit-user="setup.newUser(user)" on-success="setup.success('user')")

      section.setup-form(ng-class="setup.getClassName('converter')").modal
        h2 Create default converter
        converters-form(validation-error="setup.Notification.error(err)", submit-converter="setup.newConverter(converter)" on-success="setup.success('converter')")

      section.setup-form(ng-class="setup.getClassName('config')").modal
        h2 Global Config
        config-form(validation-error="setup.Notification.error(err)", submit-config="setup.setConfig(config)" on-success="setup.success('config')")

      section.setup-form(ng-class="setup.getClassName('done')").modal
        h2.serif Yes m9!
        p You've successfully configured the autoconverter!
        p All you need to do now is restart the server and it will boot in live mode.
        p Now get converting you cheeky cupcake.


    script(src="/bundles/setup.js", type="text/javascript")
