extends ../layouts/base
block content
  body.slight-gradient
    .loading-view
      .circle.circle-1.no-transition
      .circle.circle-2.no-transition
      .text-container.white
        span Setup loading
    main(ng-app="setup", ng-controller="SetupController as setup").container.app-base
      h1.center.white Setup

      section.setup-form(ng-class="{'active': setup.sections.user.active, 'complete': setup.sections.user.complete}").modal
        h2 Create default admin user
        users-form

      section.setup-form(ng-class="{'active': setup.sections.converter.active, 'complete': setup.sections.converter.complete}").modal
        h2 Create default converter
        converters-form

      section.setup-form(ng-class="{'active': setup.sections.config.active, 'complete': setup.sections.config.complete}").modal
        h2 Set config
        config-form

    script(src="/bundles/setup.js", type="text/javascript")
